@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,300);

$red: #cf4646;

* {
    box-sizing: border-box;
    font-family: "Raleway",sans-serif;
}

html, body {
    height: 100%;
}

.title {
    color: white;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
}

.banner {
    background: $red;
}

.banner:last-child {
    height: 100%;
}

.container {
    margin:  auto;
    padding-top: 60px;
    max-width: 800px;
    width: 95%;
}


.restaurant {
    position: relative;
    margin: 60px 0;
}

.restaurant .info {
    min-height: 80px;
    padding-left: 100px;
}

.restaurant .logo {
    background: black;
    background-size: contain;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
}

.restaurant .items {
    padding-left: 130px;
}


.restaurantName {
    /*text-transform: uppercase;*/
    margin-bottom: 4px;
}

.restaurant .category {    
    margin-bottom: 20px;           

    .category-name {
        text-transform: uppercase;
        font-size: 10pt;
        letter-spacing: .5px;
        font-weight: bold;
        vertical-align: top;
        margin-top: 10px;
        /*border-bottom: 1px solid #dfdfdf;*/
    }

    /*.category-items {
        padding-left: 40px;
    }*/
}

.restaurant .group {
    /*background: #f1f1f1;    */
    /*border: 1px solid #dfdfdf;*/
    /*border-radius: 4px;*/
    padding: 5px 0 0;
        /*border-bottom: 1px solid #dfdfdf;
        border-left: 1px solid #dfdfdf;
        overflow: hidden;
        border-bottom-left-radius: 4px;*/
    

    margin: 10px 0 20px;

    .group-name {
        /*padding: 2px 0;*/
        line-height: 18pt;
        font-size: 11pt;
        /*padding: 0 10px;*/
        margin-bottom: 5px;
        position: relative;
        /*color: white;*/
        /*border-bottom: 1px solid lightgray;        */
    }

    .group-items {
        margin-left: 20px;
        /*border-bottom: 1px solid #dfdfdf;
        border-left: 1px solid #dfdfdf;*/
        overflow: hidden;
        border-bottom-left-radius: 4px;
    }
}

.restaurant .item {
    /*border-bottom: 1px solid lightgray;*/
    /*border-left: 1px solid lightgray;*/
    /*border-bottom-left-radius: 4px;*/
    padding-left: 24px;
    padding-left: 4px;
    /*padding: 2px 0;*/
    font-size: 11pt;
    line-height: 18pt;
    position: relative;
    padding-right: 80px;

    /*border-top: 1px solid #dfdfdf;*/

    /*background: rgb(245, 245, 245);*/
    

    &:nth-child(2n-1) {
        /*background: rgb(235, 235, 235);*/
        /*background: rgb(245, 245, 245);        */
    }
}

.restaurant .price {
    position: absolute;
    right: 0;
    width: 100%;
    text-align: right;
    border-bottom: 1px dotted #dfdfdf;
    bottom: 0;//50%;
    /*transform: translateY(-50%);*/
}

@media (max-width: 550px) {
    
    .restaurant .items {
        padding-left: 10px;
    }
}


/*filters*/

.filters {
    background: rgb(240, 240, 240);
    border: 1px solid #dfdfdf;
    padding: 10px;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;

    input {
        margin: 0;
    }
}

.filter {
    display: inline-block;
    width: 33%;
    padding: 2px 4px;
    line-height: 100%;
}

/*searchform*/

.searchform {
    width: 100%;
}

.searchform .postcode, .searchform .query, .searchform .submit-button {
    display: inline-block;
    height: 60px;
}

.searchform input {
    font-size: 20px;
}

.searchform button {
    color: white;
    border-color: white;
    background: $red * 1.1;
    transition: all .4s;

    &:hover, &:focus {
        color: white;
        border-color: white;
        background: $red * 1.2;
    }
}

.searchform input, .searchform button {
    height: 60px;
    width: 100%;
    vertical-align: top;
}

.searchform .postcode {
    width: 195px;
    padding-right: 5px;
}

.searchform .query {
    width: calc(100% - 195px - 160px);
    padding-right: 5px;
    padding-left: 5px;
}

.searchform .submit-button {
    width: 160px;
    padding-left: 5px;
}

@media (max-width: 550px) {
    .searchform .postcode, .searchform .query, .searchform .submit-button {
        width: 100%;
        padding: 0;
        margin-bottom: 10px;
    }
}


/*autosuggest*/

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 100%;
}

.react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  position: absolute;
  top: 60px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 1px solid #D1D1D1;
  background-color: #fff;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px;
  /*outline: 1px solid orange;*/
  margin: 0;
  font-size: 20px;
}

.react-autosuggest__suggestion--focused {
  background-color: #ddd;
}